.dab-point,
.dab-horiz,
.dab-verti,
.dab-space {
    border: 1px solid black;
    transition: .2s;
}

#gamecontainer {
    height: 75vh;
}

table {
    border-collapse: separate;
    max-height: 75vh;
    margin: auto;
}

.dab-point {
    background-color: black;
    border-radius: 50%;
}

#settings-page {
    background-color: #cdcdcd;
    margin: auto;
    border-radius: 15px;
}

hr {
    border-color: grey;
}
